@model EnterprisesViewModel

@{
    ViewData["Title"] = "Предприятия";
    var user = Context.User;
    string EnterpriseName = Model.Name ?? "";
    string EnterpriseAddress = Model.Address ?? "";
}

<h1>Список предприятий</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>

@using (Html.BeginForm("Index", "Enterprises", FormMethod.Get))
{
    <fieldset>
        Название предприятия: @Html.TextBox("EnterpriseName", EnterpriseName)
        Адресс: @Html.TextBox("EnterpriseAddress", EnterpriseAddress)
        <input type="submit" value="Найти" />
    </fieldset>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@Model.SortViewModel.EnterpriseNameSort
                asp-route-EnterpriseName="@EnterpriseName"
                asp-route-EnterpriseAddress="@EnterpriseAddress">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnershipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectorPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Enterprises) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnershipType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorPhone)
            </td>
                @Html.Partial("AdminActions", item.EnterpriseId)
        </tr>
}
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-EnterpriseName="@EnterpriseName"
           page-url-EnterpriseAddress="@EnterpriseAddress"
           page-url-sortOrder="@(Model.SortViewModel.CurrentState)"></page-link>

