@model InspectorsViewModel

@{
    ViewData["Title"] = "Инспектора";
    var user = Context.User;
    string InspectorName = Model.FullName ?? "";
}

<h1>Список инспекторов</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>

@using (Html.BeginForm("Index", "Inspectors", FormMethod.Get))
{
    <fieldset>
        Инспектор: @Html.TextBox("InspectorName", InspectorName)
        <input type="submit" value="Найти" />
    </fieldset>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@Model.SortViewModel.InspectorNameSort"
                   asp-route-InspectorName="@InspectorName">
                    @Html.DisplayNameFor(model => model.FullName)
                </a>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inspectors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
                @Html.Partial("AdminActions", item.InspectorId)
        </tr>
}
    </tbody>
</table>

<page-link page-model="Model.PageViewModel"
           page-action="Index"
           page-url-InspectorName="@InspectorName"
           page-url-sortOrder="@(Model.SortViewModel.CurrentState)">
</page-link>

