@model InspectorJournal.DataLayer.Models.Inspection

@{
    ViewData["Title"] = "Подробно";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детально</h2>

<div>
    <h4>Проверка</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inspector.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inspector.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enterprise.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enterprise.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViolationType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ViolationType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsiblePerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsiblePerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProtocolNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProtocolNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PenaltyAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PenaltyAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDeadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectionDeadline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrectionDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectionStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorrectionStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InspectionId">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
