@model IEnumerable<InspectorJournal.DataLayer.Models.ViolationType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectionPeriodDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectionPeriodDays)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ViolationTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ViolationTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ViolationTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
