@model ViolationTypesViewModel

@{
    ViewData["Title"] = "Нарушения";
    var user = Context.User;
    string ViolationTypeName = Model.Name ?? "";
}

<h1>Типы нарушений</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>

@using (Html.BeginForm("Index", "ViolationTypes", FormMethod.Get))
{
    <fieldset>
        Тип нарушения: @Html.TextBox("ViolationTypeName", ViolationTypeName)
        <input type="submit" value="Найти" />
    </fieldset>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@Model.SortViewModel.ViolationTypeSort
                   asp-route-ViolationTypeName="@ViolationTypeName">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectionPeriodDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ViolationTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectionPeriodDays)
            </td>
                @Html.Partial("AdminActions", item.ViolationTypeId)
        </tr>
}
    </tbody>
</table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-ViolationTypeName="@ViolationTypeName"
           page-url-sortOrder="@(Model.SortViewModel.CurrentState)"></page-link>